@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

body {
    font-family: Raleway!important;
}

.masthead h1{
    font-family: Montserrat;
}

.btn-head {
    background-color: #b2d4f7c9;
    color:#2995b7!important;
}

.btn-primary,
.btn-head:hover {
    background-color: #ffffff!important;
}